code {
  color: red;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace !important;
  padding: 2px 4px 1px;
  border: 1px solid rgba(232, 232, 232, 0.3);
  background-color: rgba(232, 232, 232, 0.04);
  border-radius: 3px;
  font-weight: 500;
}
